openapi: 3.1.0
info:
  contact:
    email: blah+oapicf@cliffano.com
    name: OpenAPI Clients Factory
    url: https://github.com/oapicf/openapi-azureipranges
  license:
    name: MIT
  title: Azure IP Ranges and Service Tags - Public Cloud
  version: 0.10.1-pre.0
servers:
- url: https://download.microsoft.com/download/7/1/d/71d86715-5596-4529-9b13-da13a5de5b63/
paths:
  /ServiceTags_Public_{version}.json:
    get:
      description: Retrieve details about Azure IP Ranges and Service Tags - Public
        Cloud.
      operationId: getAzureIpRangesServiceTagsPublicCloud
      parameters:
      - description: "The version of the JSON file to be retrieved in the format YYYYMMDD,\
          \ e.g. 20240506"
        explode: false
        in: path
        name: version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/octet-stream:
              schema:
                $ref: "#/components/schemas/Change"
          description: Successful response
      summary: Get Azure IP Ranges and Service Tags - Public Cloud
components:
  schemas:
    Change:
      properties:
        changeNumber:
          description: The number associated with the change.
          title: changeNumber
          type: integer
        cloud:
          description: The cloud environment.
          title: cloud
          type: string
        values:
          items:
            $ref: "#/components/schemas/Value"
          title: values
          type: array
      title: Change
    Value:
      properties:
        name:
          description: The name of the value.
          title: name
          type: string
        id:
          description: The unique identifier of the value.
          title: id
          type: string
        properties:
          $ref: "#/components/schemas/ValueProperties"
      title: Value
    ValueProperties:
      properties:
        changeNumber:
          description: The number associated with the change.
          title: changeNumber
          type: integer
        region:
          description: The region associated with the value.
          title: region
          type: string
        regionId:
          description: The ID of the region.
          title: regionId
          type: integer
        platform:
          description: The platform associated with the value.
          title: platform
          type: string
        systemService:
          description: The system service associated with the value.
          title: systemService
          type: string
        addressPrefixes:
          description: The address prefixes associated with the value.
          items:
            type: string
          title: addressPrefixes
          type: array
        networkFeatures:
          description: The network features associated with the value.
          items:
            type: string
          title: networkFeatures
          type: array
      title: ValueProperties
